*,:::after,::befor{box-sizing:border-box}body{margin:0;background-color:#00f;font-family:Tahoma}body .container{max-width:1200px;padding:0 15px;margin:0 auto}header{background-color:#fff;position:fixed;top:0;left:0;width:100%}header .header-wrapper{display:flex;justify-content:space-between;align-items:center}header .header-wrapper a img{height:40px}header .header-wrapper nav ul{display:flex;list-style-type:none;align-items:center}header .header-wrapper nav ul li{margin-left:20px}@media screen and (max-width:100px){header{background-color:red}}
/*# sourceMappingURL=style.css.map */
