header 
    background-color: white
    position: fixed
    top: 0
    left: 0
    width: 100%

    .header-wrapper
        display:flex
        justify-content: space-between
        align-items: center
       
        a
            img 
                height: 40px

        nav 
            ul 
                display: flex
                list-style-type: none
                align-items: center

                li 
                    margin-left: 20px




            
    @media screen and (max-width: 100px)
        &
            background-color: red
    