*,*::befor, *:*::after
    box-sizing: border-box

body 
    margin: 0
    background-color: #0000ff
    font-family:'Tahoma'

    .container
        max-width: 1200px
        padding: 0 15px
        margin: 0 auto